/* General */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
html{
    display: flex;
}

.container{
    --main-color : #4472c4;
    --btn-hover :#85a8e6ad;
    display: flex;
    /* display: grid; */
    flex-direction: column;
    background-attachment: fixed;
    justify-items: center;
    /* background-color: blueviolet; */
}
.container hr{
    display: flex;
    margin: 20px;
    border: 1px;
    height: 1px;
    /* width: fit-content; */
    background: blue;
    background-image: linear-gradient(to right, #ccc,blue,#ccc);
}
.comtainer main{
    justify-content: space-evenly;
}
/* Header */
header {
    display: flex;
    flex-direction: row;   
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    font-family: 'Alata', sans-serif;
    font-family: 'Libre Baskerville', serif;
    height: 30vh;
    width: 98vw;
    padding: 10px 0 0 10px;
}

.logo{
    display: flex;
    align-items: flex-end;   
}

.logo img {
    display: flex;
    max-height:60vh;
    max-width: 50vw;
}
.dropdown{
    position: relative;
    display: inline-block;
    float:right;
    overflow: visible;
    /* cursor: pointer; */
}
.menu-btn{
    display: inline-block;
    width: auto;
    margin: 0;
}
nav figure{
    margin: 0 auto;
}
.links{
    /* display: flex; */
    /* display: inline-block; */
    display: none;
    position: absolute;
    right:0;
    font-size: 150%;
    font-family: 'Alata', sans-serif;
    background-color: var(--main-color);
    opacity: 96%;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 40px 0px 0px;
    align-items: rigth;
    overflow: auto;
    filter:drop-shadow(10px 10px 10px rgb(42, 38, 50))
    /* z-index: 1; */
}
/* Look into  IE's soultion to a drop shadow */

/* .links > a{
    opacity: 95%;
} */
.links a:hover{
    background-color:var(--btn-hover);
    border-radius: 10px;
    cursor:pointer;
}

.show{
    display: inline-block;
    position: absolute;
}
header a
{
    display: flex;
    padding: 0px 10px;
    text-decoration: none;
}

/* Main */
 .comtainer >  main{
     background: #0E7fff;
    justify-items: center;
} 
main{
    display: grid;
    /* height: 50vh; */
    height: fit-content;
    width: 90vw;
   /* The below solution is a better(centered and responsive) */
    grid-template-columns: 45vw 5vw 45vw;
    /* grid-template-columns: auto auto auto; */
    grid-template-rows: 50vh 100px;
    /* grid-template-rows: auto; */
    /* grid-row: 1px 30px 1px; */
    grid-row: auto;
    justify-items: center;
    padding: 5vh 0vh;
    margin: 0px 35px 0px 0px;
    /* font-family: 'Signika Negative', sans-serif; */
    font-family: 'Open-sans', sans-serif;
}
main > .applications{
    justify-content: center;
}
.v1{
    content: '';
    /* display: flex; */
    /* border-left: 2px solid blue; */
    height: 55vh;
    width: 2px;
    margin: 5px;
    background-image: linear-gradient(to right, #ccc,blue,#ccc, 75%, transparent);
    
    /* background: blue; */
}
.v1-hidden{
    display: none;
}
.cta{
    /* display: flex; */
    display: grid;
    margin: auto;
    height: 70%;
    width: 70%;
    /* margin: 10px  ; */
    padding: 40px 0 0 0;
    background-color: var(--main-color);
    border-radius: 10%;
    justify-content: center;
    text-align: center;
}

.cta h3{
    /* vertical-align: middle; */
    display: inline-block;
    vertical-align: middle;
    color: white;
    /* padding:5px 10px; */
    font-size: 100%;

    
}

/* Application */
.applications {
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: 10px auto 10px;
    text-align: center;
    align-self: center;
}
.applications h3 {
    display: flex;
    /* margin: 0 0 0 5px; */
    margin: 7px;
}
.applications h5{
    display: flex;
    justify-content: center;
    margin: 3px 1px 3px 2px;
}
.applications hr{
    display: flex;
    margin: 5px 0px;
}
.form{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: fit-content;
    /* width: 100%; */
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid var(--main-color);
    
}

.school-links{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    padding : 10px;
    
}

.school-links div{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    padding : 10px;
}


.programs{
    display: flex;
    flex-direction: row;
}
/* Yes I know I can use bootstrap, but I like having to build these things*/
/* .btn-control{
    display: flex;
    flex-direction: row;
    padding:10px;
    height: 40%;
    width: 6vh;
} */
.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: inherit;
    /* display: table-cell; */
    border-radius: 5px;
    padding:  5px 13px;
    margin:  5px 13px;
    height: fit-content;
    width: fit-content;
    /* width: 100%; */
    min-width: 0;
    background-color: var(--main-color);
}
btn:hover{
    background-color:var(--btn-hover)

}

.btn a{
    padding: 0 5px;
    display: flex;
    color: white;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
}
/* media query */
/* Iphone 6/7/8 */
@media only screen and (max-width: 375px) {
    header{
        width: fit-content;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content;
    }
    .logo{
        margin: 0 auto;
    }
    .menu-btn{
        display: inline-block;
        width: auto;
        margin: 0 auto;
    }
    nav figure{
        margin: 0 auto;
    }
    .links{
        display: none;
        justify-content: space-evenly;
        padding: 5px;
        font-size: 10px;
    }
    nav{
        height: auto;
        padding: 10px 0px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .form{
        display: flex;
        height: fit-content;
        width: 80vw;
    }
}
@media only screen and (max-width: 667px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main{
        display: flex;
        flex-direction: column;
       
    }
    h3{
        padding: 20px;
    }
    hr{
        display: flex;
        flex-direction: column;
        /* width: fit-content; */
        margin:10px;
    }
    .form{
        display: flex;
        height: auto;
        width: 80vw;
    }
}
/* Iphone 6/7/8 Plus */
/* min-width 768px */
@media only screen and (max-width: 414px) {
    html{
        display: flex;
        height: fit-content;
        width: fit-content;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 414px;
        height: fit-content;
        justify-content: center;
    }
    nav{
        height: auto;
    }
    nav figure {
        margin: 10px 10px 0px 0px;
    
    }
    .logo img{
        width: 75%;
    }
    hr{
        display: flex;
        justify-content: center;
    }
    .links{
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        font-size: 10px;
        height: 5vh;
        width: auto;
    }
    /* main{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 5px 10px;
        padding: 0px;
        /* height: 100vh; */
    }*/
    .cta{
        display: flex;
        width: 70%;
            height: 40%;
            margin: 5%;
        }
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            /* max-width: 250px; */
            max-width: fit-content;
            max-height: fit-content;
            padding: 10px;
            /* width: 83vw; */
        }
        .applications{
            display: flex;
            margin: 0 auto;
            width: fit-content;
            justify-content: center;
            /* source of issue could be here */
        }
        .applications > h3{
            /* text-align: center; */
            align-self: center;
            margin: 20px 0px 15px 0px;
            padding: 0px;
            width: 50vw;
        }
    }


@media only screen and (max-width: 736px) {
    .container{
        display: flex;
        flex-direction: column;
        height: fit-content;
        /* height: 100vh; */
    }
    .applications{
        display: flex;
        flex-direction: column;
        height: 100px ;
    }
    main{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }
    .form{
        display: flex;
        height: fit-content;
    }
    hr{
        margin: 1px;
    }
    h3{
        display: inline-block;
    }
    
}
/*
Experiment with the color, including the background,(More modern design, versus conservative versus pedagogical ?)
Monochromatic color scheme
*/

/* Figure out how to move the menu items under the btn */

/* Fix header to page(stays on scroll) */
